<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{>header}}

    <p>not found your request... <br /><strong>:(</strong></p>

    {{>footer}}
    
</body>

</html>