<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    {{>header}}

    <p>This app site has been realized on the Node3 course over Udemy community</p>

    {{>footer}}

</body>

</html>